*{
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Cabin', sans-serif;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container{
  position: relative;
}

.MyNavbar{
  position: relative;
}

.logo{
  width: 5%;
}